.inside .acf-repeater .acf-row-handle {
  width: 10px; }

.inside .acf-repeater .acf-row-handle .acf-icon {
  margin: -8px 0 0 -5px; }

.inside .acf-fields .acf-field {
  padding: 10px; }

.inside .acf-fields .acf-label {
  margin-bottom: 5px; }

.inside .acf-fields span.link-title {
  display: block; }

.inside .acf-file-uploader .file-info {
  margin-left: 0; }

.inside .acf-file-uploader .file-icon {
  display: none; }

#wpbody-content .inline-edit-row .inline-edit-col-qed {
  border: 0;
  clear: right; }
  #wpbody-content .inline-edit-row .inline-edit-col-qed legend {
    display: none; }
  #wpbody-content .inline-edit-row .inline-edit-col-qed .qed-fields {
    background: transparent; }
  #wpbody-content .inline-edit-row .inline-edit-col-qed .acf-field {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin-top: 0;
    padding: 0; }

.post-type-acfes_session #wpbody-content .inline-edit-row fieldset.inline-edit-date, .post-type-acfes_speaker #wpbody-content .inline-edit-row fieldset.inline-edit-date, .post-type-acfes_sponsor #wpbody-content .inline-edit-row fieldset.inline-edit-date, .post-type-acfes_exhibitor #wpbody-content .inline-edit-row fieldset.inline-edit-date {
  display: none; }

#conference_session_time {
  width: 80px; }

#acfes-session-date {
  margin-bottom: 15px; }
